@charset "UTF-8";
@keyframes shake-bottom {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  display: flex;
  overflow: hidden;
  height: 100vh;
  flex-direction: column;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: -100%;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 17em;
  z-index: 10000;
  transition: right 0.3s ease;
  padding: 2em;
  color: black;
  border: none;
  border-left: 0.2em solid black;
}
.menu.active {
  right: 0;
}
.menu.active p {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.menu.active .levels {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.menu.active .levels p {
  margin-bottom: 0;
  font-size: 1em;
}
.menu.active .levels p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu.active .levels i {
  font-size: 1em;
  padding: 0 1em;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  border: none;
  margin-bottom: 2em;
  border-bottom: 0.1em solid black;
}
.nav .logo {
  display: flex;
  flex-direction: row;
  gap: 0;
  padding: 0 1em;
}
.nav img {
  width: 5em;
  height: 5em;
}
.nav p {
  margin-right: 1em;
  padding: 1em 1em;
  background: none;
  color: black;
  font-weight: bold;
  font-size: 1em;
}
.nav .bar {
  background: white;
  border: none;
  margin-right: 1em;
  font-size: 2.2em;
  padding: 0.5em 0.5em;
  cursor: pointer;
}
.nav h1 {
  padding: 1em 0;
  font-size: 2em;
}
.nav .login-toggle {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 1em;
  font-size: 2em;
}

.text_title {
  display: flex;
  align-items: left;
  justify-content: left;
  left: 0em;
  top: 0em;
  padding: 1em;
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.diagram-container {
  position: relative;
  height: 40em;
  display: flex;
  justify-content: center;
  margin-left: 16em;
}

.wykres {
  width: 300px;
  height: 200px;
}

#diagrams {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 16em;
}

.mapa {
  position: relative;
  width: 100%;
  height: calc(100vh - 8rem); /* zostawia miejsce na nav + footer */
  background: gray;
}

.submit {
  display: none; /* domyślnie ukryte */
  position: absolute; /* dla pozycjonowania wewnątrz mapWrapper */
  bottom: 5em;
  right: 1em;
  width: 12em;
  padding: 1em 1em;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 0em;
  border: 1px solid black;
  background-color: #4CBB17;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 100000000000000000000000000000000000000000000;
}
.submit:hover {
  background-color: #2b7b05;
  color: white;
}

#status {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index: -1;
  display: none;
}

.footer {
  padding: 0.8em 1em;
  background-color: black;
  color: white;
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#mapWrapper {
  position: fixed;
  display: none;
  bottom: 7em;
  right: 1em;
  width: 12em;
  height: 12em;
  border-radius: 0.6em;
  overflow: hidden;
  cursor: default;
  background: white;
  transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 20000000000000000000;
}

/* Mapa w środku */
#mapWrapper #map {
  width: 100% !important;
  height: 100% !important;
  pointer-events: none; /* mini tryb — brak przesuwania */
}

/* Przycisk */
#mapToggleButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 2.2em;
  height: 2.2em;
  border: none;
  z-index: 100000000000000000;
  /*cursor: pointer;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ikona powiększenia w mini trybie */
#mapToggleButton::before {
  content: "⤢";
  z-index: 10000000000;
  font-size: 5em;
  font-weight: 1000;
  color: black;
  margin-top: 1.5em;
  margin-right: 1.5em;
  cursor: pointer;
}

/* Gdy checkbox zaznaczony → powiększona mapa */
#mapToggle:checked + #mapWrapper {
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  border-radius: 0.6em;
  z-index: 10000;
}

/* W powiększeniu mapa jest aktywna */
#mapToggle:checked + #mapWrapper #map {
  pointer-events: auto;
}

/* Ikona zmienia się na X */
#mapToggle:checked + #mapWrapper #mapToggleButton::before {
  content: "✕";
  font-size: 2em;
  font-weight: 1000;
  margin-top: 0em !important;
  margin-right: 0em !important;
  cursor: pointer;
}

.mini-map-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.7);
  color: black;
  font-weight: bold;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  text-align: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5000;
  font-size: 1.2em;
}

/* Znikanie napisu po powiększeniu mapy */
#mapToggle:checked + #mapWrapper .mini-map-label {
  display: none;
}

.popUp {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0.1em solid black;
}
.popUp .container-popUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 3em;
  gap: 1em;
}
.popUp .container-popUp p {
  font-size: 1.2em;
}
.popUp .container-popUp button {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #4CBB17;
  font-size: 1em;
  color: black;
}
.popUp .container-popUp button:hover {
  cursor: pointer;
  background-color: #2b7b05;
}

/* pokaż submit tylko w powiększonej mapie */
#mapToggle:checked ~ .submit {
  display: block;
  bottom: 5em;
  right: 10em;
  padding: 1.2em 2em;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 2em;
  width: 8em;
}

#summaryPopUp {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.1em solid black;
}
#summaryPopUp .container-popUp {
  width: 29em;
  padding: 2em 3em;
  gap: 2em;
}
#summaryPopUp .container-popUp span {
  font-weight: 700;
  font-size: 1.3em;
}
#summaryPopUp .container-popUp h2 {
  font-size: 3em;
}
#summaryPopUp .container-popUp p {
  font-size: 1.3em;
}
#summaryPopUp .container-popUp button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: #4CBB17;
  font-size: 1.2em;
  color: black;
}
#summaryPopUp .container-popUp button:hover {
  cursor: pointer;
  background-color: #2b7b05;
}

#animationContainer {
  position: relative;
  width: 800px;
  height: 800px;
}

#downloading {
  position: absolute;
  left: 0;
  top: 17%;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: sans-serif;
}

.ring {
  position: absolute;
  left: 25%;
  top: 3.5%;
  width: 50%;
  height: 50%;
  background-color: transparent;
  border-left: 5px solid black;
  border-radius: 50%;
  animation: load 1s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main2.css.map */