@keyframes shake-bottom {
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%;}

  10%{
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);}
    20% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);}
        30% {
            -webkit-transform: rotate(4deg);
            transform: rotate(4deg);}
        
        40% {
            -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);}
            50% {
                -webkit-transform: rotate(4deg);
                transform: rotate(4deg);}
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);}
    
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);}

  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);}

  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);}

    100%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: 50% 100%;}
  }