@import './animations';

// Mixiny dla responsywności
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1184px) {
    @content;
  }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
    @include mobile {
        font-size: 55%;
    }
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    display: flex;
    overflow: hidden;
      min-height: 100vh;
    flex-direction: column;
    @include mobile {
        overflow: auto;
    }
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -100%;
    top: 0;
    background-color: white;
    height: 100vh;
    width: 17em;
    z-index: 10000;
    transition: right 0.3s ease;
    padding: 2em;
    color: black;
    border: none;
    border-left: .2em solid black;
    z-index: 100000000000000000;
    
    @include mobile {
        width: 50%;
        border-left: none;
        display: none;
    }
    
    &.active {
        right: 0;
        p{
        font-size: 1.5em;
        margin-bottom: .5em;
    }
    .levels{
        display: flex;
        flex-direction: column;
        gap: .4em;
        p{
            margin-bottom: 0;
            font-size: 1em;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
        i{
            font-size: 1em;
            padding: 0 1em;
        }
    }
    
    }
        
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    border: none;
    border-bottom: .1em solid black;
    
    @include mobile {
        padding: 0.5em 0;
        margin-bottom: 1em;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        gap: 0;
        padding: 0 0em;
        align-items: center;
        
        @include mobile {
            padding: 0 0.5em;
        }
    }
    
    img{
        width: 5em;
        height: 5em;
        
        @include mobile {
            width: 3em;
            height: 3em;
        }
    }
    
    p{
        margin-right: 1em;
        padding: 1em 1em;
        background: none;
        color: black;
        font-weight: bold;
        font-size: 1em;
        
        @include mobile {
            padding: 0.5em;
            font-size: 0.9em;
        }
    }
    
    .bar{
        background: white;
        border: none;
        margin-right: 1em;
        font-size: 2.2em;
        padding: .5em .5em;
        cursor: pointer;
        
        @include mobile {
            font-size: 1.8em;
            padding: 0.3em;
            margin-right: 0.5em;
        }
    }

    h1{
        padding: 1em 0;
        font-size: 2em;
        
        @include mobile {
            font-size: 1.5em;
            padding: 0.5em 0;
        }
    }
    
    .login-toggle{
        border: none;
        background-color: white;
        cursor: pointer;
        padding: 1em;
        font-size: 2em;
        
        @include mobile {
            font-size: 1.5em;
            padding: 0.5em;
        }
    }
}

.text_title{
    display: flex;
    align-items: left;
    justify-content: left;
    left: 0em;
    top: 0em;
    padding: 1em;
    font-size: 2em;
    
    @include mobile {
        font-size: 1.5em;
        padding: 0.5em;
    }
}

.chartWrapper {
    position: relative;
    width: 35em;
    height: 16em; 
    @include mobile {
        width: 100%;
        height: 18em;
    }
}

canvas.wykres {
    width: 100% !important;
    height: 100% !important;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 0em;

    @include mobile {
        padding: 0.5em;
        margin-bottom: 2em !important;
        justify-content: flex-start;
    }
}

.diagram-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 3em;
     display: flex;
    flex-wrap: wrap;
    gap: 1em;
    @include tablet {
        margin-right: 0;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    
    /*@include mobile {
        height: 800em;
    }*/
}

/*.wykres{
    width: 300px;
    height: 200px;
    
    /*@include mobile {
        width: 100%;
        max-width: 380px !important;
        height: 0px !important;
    }
}*/



.mapa{
    position: relative;
    width: 100%;
    height: calc(100vh - 8rem);
    background: gray;
}

.submit {
    display: none;
    position: absolute;
    bottom: 5em;
    right: 1em;
    width: 12em;
    padding: 1em 1em;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 0em;
    border: 1px solid black;
    background-color: #4CBB17;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    z-index: 100000000;
    
    &:hover {
        background-color: #2b7b05;
        color: white;
    }
     @include tablet() {
       position: fixed !important;
    }
    @include mobile {
       display: none !important;
    }
}

#status {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255,255,255,0.9);
    padding: 8px 12px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    z-index: -1;
    display: none;
} 


.footer{
    padding: .8em 1em;
    background-color: black;
    color: white;
    font-size: .9em;
    text-align: center;
    width: 100%;
    position: static;
    bottom: 0;
    width: 100%;
    
    @include tablet(){
        padding: 0.6em 0.5em;
        font-size: 0.8em;
        position: static; // Zmiana na static - footer będzie w normalnym flow dokumentu
    }

    @include mobile {
        padding: 0.6em 0.5em;
        font-size: 0.8em;
        position: static; // Zmiana na static - footer będzie w normalnym flow dokumentu
    }
}

#mapWrapper {
  position: fixed;
  display: none;
  bottom: 7em;
  right: 1em;
  width: 12em;
  height: 12em;
  border-radius: .6em;
  overflow: hidden;
  cursor: default;
  background: white;
  transition: all .4s ease;
  z-index: 2000;

  @include mobile {
    width: 7em;
    height: 7em;
    bottom: 1em;
    right: 1em;
  }
}

#mapWrapper #map {
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
}

#mapToggleButton {
   position: absolute;
    top: .5em;
    right: .5em;
    width: 2.2em;
    height: 2.2em;
    border: none;
    z-index: 1000;
    display: flex;              
    align-items: center;       
    justify-content: center;    
}

#mapToggleButton::before {
    content: "\f424";
     font-family: "Font Awesome 5 Free";
    z-index: 1000;
    font-size: 8em;
    font-weight: 600;
    color: #2b7b05;
    margin-top: 1em;
    margin-right: 1em;
    cursor: pointer;
    @include mobile {

        font-size: 5.5em;
        margin-top: .6em;
        margin-right: .6em;
    }
}

#mapToggle:checked + #mapWrapper {
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
    border-radius: .6em;
    z-index: 10000;
    
    @include mobile {
        width: 95vw;
        height: 60vh;
    }
}

#mapToggle:checked + #mapWrapper #map {
    pointer-events: auto;
}

#mapToggle:checked + #mapWrapper #mapToggleButton::before {
    content: "✕";
    font-size: 2em;
    font-weight: 1000;
    margin-top: 0em !important;
    margin-right: 0em !important;
    cursor: pointer;
}

.mini-map-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.7);
    color: black;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border-radius: 0.4em;
    text-align: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5000;
    font-size: 1.2em;
    
    @include mobile {
        font-size: 1em;
        padding: 0.3em 0.6em;
    }
}

#mapToggle:checked + #mapWrapper .mini-map-label {
    display: none;
}

.popUp{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    background-color: rgba(255,255,255,0.95);
    border: .1em solid black;
    width: 90%;
    max-width: 400px;
    @include mobile {
            position: fixed;
        }
    .container-popUp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em 3em;
        gap: 1em;
        @include mobile {
            padding: 1.2em 0em;
        }
        
        p{
            font-size: 1.2em;
            
            @include mobile {
                font-size: 1.1em;
            }
        }
        button{
            padding: .5em;
            border-radius: .5em;
            background-color: #4CBB17;
            font-size: 1em;
            color: black;
            border: none;
            min-width: 120px;
            
            &:hover{
                cursor: pointer;
                background-color: #2b7b05;
            }
            
            @include mobile {
                min-width: 100px;
                padding: 0.8em;
            }
        }
    }
}

#mapToggle:checked ~ .submit {
    display: block;
    bottom: 5em;
    right: 10em;
    padding: 1.2em 2em;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 2em;
    width: 8em;
     @include tablet {
        position: fixed;
    }
    @include mobile {
        display: block !important;
        position: fixed;
        bottom: 2em;
        right: 10em;
        padding: 1.2em 2em;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 2em;
        width: 8em;
    }
}

#summaryPopUp {
    display:none; 
    position:fixed;
    top:50%;
    left:50%; 
    transform:translate(-50%, -50%);
    background-color:white; 
    border: .1em solid black;
    width: 90%;
    max-width: 500px;
    z-index: 100000;
    @include mobile {
        position: fixed;
    }
    .container-popUp{
        width: 100%;
        padding: 2em 3em;
        gap: 2em;
        
        @include mobile {
            padding: 1.5em 2em;
            gap: 1.5em;
        }
        
        span{
            font-weight: 700;
            font-size: 1.3em;
        }
        h2{
            font-size: 3em;
            
            @include mobile {
                font-size: 2.2em;
            }
        }
        p{
            font-size: 1.3em;
            
            @include mobile {
                font-size: 1.1em;
            }
        }
        button{
            padding: .5em 1em;
            border-radius: .5em;
            background-color: #4CBB17;
            font-size: 1.2em;
            color: black;
            border: none;
            min-width: 120px;
            
            &:hover{
                cursor: pointer;
                background-color: #2b7b05;
            }
            
            @include mobile {
                font-size: 1.1em;
                min-width: 100px;
            }
        }
    }
}

#animationContainer {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  z-index: 1000000;
  /*@include tablet {
    height: 350px;
  }
  
  @include mobile {
    height: 400px;
    margin: 10em 0;
  }*/
}

#downloading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: normal;
  text-transform: uppercase;
  font-size: 24px;
  font-family: sans-serif;
  z-index: 10;
  
  @include tablet {
    font-size: 5px;
  }
  
  @include mobile {
    top: 18em;
    font-size: 20px;
  }
}

.ring {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20em;
  height: 20em;
  background-color: transparent;
  border: 3px solid #f0f0f0;
  border-left: 3px solid #4CBB17;
  border-radius: 50%;
  animation: load 1s linear infinite;
  transform: translate(-50%, -50%);
  
  /*@include tablet {
    width: 100px;
    height: 100px;
  }*/
  
  @include mobile {
    width: 20em;
    height: 20em;
    top: 25em;
  }
}

@keyframes load {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

// Poprawki dla kontenera głównego
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    padding: 0em;
    
    @include mobile {
        padding: 0.5em;
        justify-content: center; // Zmiana z flex-start na center
        overflow-y: auto;
    }
}

@include tablet() {
     body {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto; // Upewnij się, że body ma wysokość
        min-height: 100vh;
    }
    
    #diagrams {
        margin-bottom: 2em;
    }
}
body.loading {
    height: 100vh;
    overflow: hidden;
}

// Dodatkowe poprawki dla lepszego wyświetlania na mobile
@include mobile {
    body {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto; // Upewnij się, że body ma wysokość
        min-height: 100vh;
    }
    
    #diagrams {
        margin-bottom: 2em;
    }
}
body.loading {
    height: 100vh;
    overflow: hidden;
}